<div class="row margin-left-1">
  <div class='col-md-9 center'>
    <div>CmdV Ninja provides the origanizational flexibilty of EverNote, usability of Pinterset and functionality of GitHub Gists all in one service.</div>
    <div>It has been developed in order to provide developers with an online service that would help them organize their code snippets, ideas, manuals and let them access them from everywhere.
  We are always looking for your feedback and feature requests, so please do not hesitate to get in touch with us. Let us know what you like and what you dislike about this service and we will be happy to correct our shortcomings.
  <div><strong>Below are the principle developers of this service.</strong>
  </div>



  <div class="row margin-left-1">
    <div class="aboutus col-md-3">
      <div><a href="http://realalexhomer.github.io/"><h4>Alex Homer<h4>
            <div>
              <img class="aboutus-img" src="https://avatars3.githubusercontent.com/u/9168961?v=3&s=400">
            </div>
           </a>
        </div>
    </div>


    <div class="aboutus col-md-3">
      <div>
        <a href="http://kjb085.github.io/"><h4>Kenn Breece</h4>
          <div>
            <img class="aboutus-img" src="https://avatars3.githubusercontent.com/u/9015412?v=3&s=400">
          </div>
        </a>
      </div>
    </div>

    <div class="aboutus col-md-3">
      <div><a href="http://garygz.github.io//"><h4>Gary Ginzburg</h4>
            <div>
              <img class="aboutus-img center" src="http://garygz.github.io/img/my-profile-photo.jpg">
            </div>
      </a></div>
    </div>
  </div>
</div>
