<div class="row margin-left-1">
  <div class='col-md-9 center'>
    <div>In order to use our service from Sublime editor, download our Sublime plugin and install it as per instructions which you can find <a href="http://www.sublimetext.com/docs/plugin-basics">here</a>.
    </div>
   <div>Download our <a href="https://github.com/garygz/cmdvninja-downloads/blob/master/cmdv_ninja_sublime.zip?raw=true">CmdV Ninja Sublime Plugin</a></a>.
    </div>
   </div>
</div>

<div class="row margin-left-1 margin-top-1">
  <div class='col-md-9 center'>
    <div>In order to use our service from Chrome browser, download our Chrome extension and install it as per instructions which you can find <a href="http://superuser.com/questions/247651/how-does-one-install-an-extension-for-chrome-browser-from-the-local-file-system">here</a>.
    </div>
   <div>Download our <a href="https://github.com/garygz/cmdvninja-downloads/blob/master/cmdv_ninja_chrome_ext.zip?raw=true">CmdV Ninja Chrome Browser Extension</a></a>.
    </div>
</div>
