<!-- Need a way to hide the navbar when here  -->
<div ng-controller="AuthController">
	<!-- <form novalidate class="simple-form">
    E-mail: <input type="email" ng-model="user.email" /><br />
   	Password: <input type="password" ng-model="user.password" /><br />
    <input type="submit" ng-click="login(user)" value="Log In" />
  </form>
  <div class='error initiallyHidden'>
  	<h3>Incorrect Username or Password</h3>
  </div> -->
  <div class="row">
    <div class="col-md-4 center">
        <div>In order to use our service, please login using your GitHub account or <a href="https://github.com/">sign up</a> now.</div>
        <a class ="btn btn-block btn-social btn-lg btn-github well"
          ng-href="https://github.com/login/oauth/authorize?scope=user:email,gist&client_id={{clientKey}}"
        >
        <!--<i class="fa fa-github"></i>-->
        Sign in with GitHub
        </a>
    </div>
  </div>

</div>
