<!-- Need a way to hide the navbar when here  -->
<div class="col-md-5 center">
    <img id="ninja-tall" src='app/img/ninja-tall.png'>
    <div id="instruction">Please sign in with your GitHub account or <a href="http://github.com">sign up</a></div>
    <a class="btn btn-block btn-social btn-lg btn-github well btn-material-grey" ng-href="https://github.com/login/oauth/authorize?client_id={{clientId}}&scope=user:email,gist"><i class="fa fa-github"></i>Sign in with GitHub</a>
    <!-- Google Login -->
    <div id="instruction-google">Please sign in with your Google account or <a href="https://accounts.google.com/SignUp">sign up</a></div>
    <a class="btn btn-block btn-social btn-lg btn-google-plus well btn-material-red" ng-href="{{googleAuthURL}}"><i class="fa fa-google-plus"></i>Sign in with Google</a>

</div>

