
<input id="hidden-input" class="hidden" type="text" value="" ng-model="snippetPastedText"/>
<div id="group-list-wrapper">
  <div ng-repeat="group in testGroups" ng-click="showGroup(group._id) "style="{padding:none}">
    <div data-id="{{group._id}}"
        class="panel panel-default group-panel col-md-2 margin-left-1 group-container"
        ng-init="showButtons=false"
        ng-mouseover="showButtons=true"
        ng-mouseleave="showButtons=false"
        ng-class="{activegroup: showButtons}">
      <div>
        <div class="groups-toolbar" ng-show="showButtons">
          <button ng-click="shareGroup(group)"
                  class="groups-toolbar-share-btn btn btn-fab btn-fab-mini btn-raised btn-material-light-blue">
          <i class="mdi-social-share"></i></button>

          <button ng-click="pasteSnippet()"
                  class="groups-toolbar-paste-btn btn btn-fab btn-fab-mini btn-raised btn-material-grey-200">
          <i class="mdi-content-content-paste"></i></button>
        </div>
        <img class= "group-image" src='{{group.image_url}}'>
      </div>
      <div class="panel body" ng-show="showButtons">
        {{group.description}}
      </div>
      <div class="panel-header">
        <div class="group-header">
          {{group.name}}
          <span class="pull-right">
            <span class="badge" ng-bind="group.content_count">
              {{group.content_count}}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
