/*
GG 03/08/2015
Fix for Angular UI not displaying curors correctly
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.margin-right-2{
  margin-right: 2%;
}

.margin-left-1{
  margin-left: 1%;
}
.clickable{
  cursor: pointer;
}

.search-group-panel{
  height: 95vh;
  overflow: scroll;
}

.search-results{
  width:75vw;
}

.search-groups{
  width:20vw;
}
