/*
GG 03/08/2015
Fix for Angular UI not displaying curors correctly
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.margin-right-2{
  margin-right: 2%;
}

.margin-left-1{
  margin-left: 1%;
}
.clickable{
  cursor: pointer;
}

.search-panel{
  height: 70vh;
  /*overflow: scroll;
  -ms-overflow-style;*/
}

.search-results{
  width:70vw;
}

.search-groups{
  width: 28vw;
}

.collapsable-group-container {
  width: 960px;
  position: relative;
  height: 100px;
}

#save {
  font-size: 20px;
}

#add {
  font-size: 20px;
}

#toggle-groups {
  float: right;
  margin-right: 40px;
  z-index: 1;
}

.new-snippet-container {
  width: 960px;
  position: relative;
  height: 580px;
}

.mini-toolbar {
  position: absolute;
  width:80%;
}

.mini-toolbar-btn {
  text-align: right;
  float: right;
}

.minified-snippet-display {
  overflow: scroll;
  height: 486px;
  margin-top: none;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.initiallyHidden {
  display: none;
}

.margin-left-10{
  margin-left: 10%;
}

