/*
GG 03/08/2015
Fix for Angular UI not displaying curors correctly
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.margin-right-2{
  margin-right: 2%;
}

.margin-left-1{
  margin-left: 1%;
}
.clickable{
  cursor: pointer;
}

.search-panel{
  height: 70vh;
  /*overflow: scroll;
  -ms-overflow-style;*/
}

.header-logo{
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.search-results{
  width:70vw;
}

.search-groups{
  width: 28vw;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.initiallyHidden {
  display: none;
}

.margin-left-10{
  margin-left: 10%;
}

.aboutus-img{
  max-width: 45%;
  max-height: 30%;
}

.margin-top-1{
  margin-top: 1%;
}
