  
  



   <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center" layout-margin layout-padding>
    <p>hello</p>
  </md-whiteframe>


  <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="center"layout-margin layout-padding>
    <md-content class="md-padding">
    <md-input-container flex>
      <div ng-model="snippet.content" id='ui-ace-main' ui-ace style="height:300px"></div>
    </md-input-container>
    <md-button class="md-raised" ng-click="createSnippet()">submit</md-button>
    </md-content>
  </md-whiteframe>