<button ng-click="newSnippet()">make a new snippet</button>
<div ng-repeat="snippet in snippets">
  <button ng-click="selectSnippet(snippet._id)">{{snippet._id}}</button>
</div>

<select ng-model="currentSnippet.tags[0]" ng-options="language for language in languages">
  <option value="">--- choose language ---</option>
</select>

<input type="text" ng-model="currentSnippet.unique_handle"></input>

<textarea ng-model="currentSnippet.content"></textarea>


<button ng-click="createOrEditSnippet()">submit</button>






<!--
<md-grid-list md-cols="12" md-gutter="1em" md-row-height="12.5">
    <md-grid-tile flex md-rowspan="1" md-colspan="12"></md-grid-tile>
    <div class='snippet-form'>
      <md-grid-tile md-rowspan="3" md-colspan="1"></md-grid-tile>
      <md-grid-tile md-rowspan="3" md-colspan="10" layout-align="center" ><md-toolbar></md-toolbar></md-grid-tile>
      <md-grid-tile md-rowspan="3" md-colspan="1"></md-grid-tile>
      <md-grid-tile md-rowspan="18" md-colspan="1"></md-grid-tile>
      <md-grid-tile class="snippet-area md-whiteframe-z2"md-rowspan="18" md-colspan="10" layout-align="center" layout-padding>
      <div layout="row" flex>
        <div flex>
          [flex]
        </div>
        <div flex>
          [flex]
        </div>
        <div flex>
          [flex]
        </div>
      </div>
      </md-grid-tile>
    </div>
</md-grid-list>

 -->
